<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>upload</param-name>
        <param-value>C:\finalcourseware\coursewareX\web\images</param-value>
    </context-param>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.coursewareX.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMsg</servlet-name>
        <servlet-class>com.coursewareX.getMsg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMsg</servlet-name>
        <servlet-class>com.coursewareX.sendMsg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>com.coursewareX.upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proregister</servlet-name>
        <servlet-class>com.coursewareX.proregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDao</servlet-name>
        <servlet-class>com.coursewareX.CourseDao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMsg</servlet-name>
        <url-pattern>/getMsg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMsg</servlet-name>
        <url-pattern>/sendMsg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proregister</servlet-name>
        <url-pattern>/proregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDao</servlet-name>
        <url-pattern>/CourseDao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
